{% extends 'home/base.html' %}



{% block content %}


    <div class="features">
        <h1>Главная страница</h1>
        <p>Рады вас приветсвовать в нашем Авто-Салоне "Geely Motors"
            В меню "Каталог" вы можете узнать какие автомобили есть в наличии,
            также если вы затрудняетесь с выбором автомобиля , наша компания предлогает вам
            записаться на Тест-драйв(предварительно зарегистрироваться).
            Где вы сможете проехать по специальной отведенной трассе, чтобы проверить как ведет
            себя автомобиль в экстремальных условиях .</p>
        <p>Также мы публикуем новости  о предстоящих новинках автомобилей марки "Geely"
            или о скидках на "ТО"</p>
    </div>
    <main>
    <img src="https://imgproxy.autocrm.ru/rVBpMxaRgTgfYEfdym3fxjnDkmuErxLyZehpolDnW0Q/rs:auto:0:0:1/dpr:1/q:100/g:sm/aHR0cHM6Ly8xOTUwMDQuc2VsY2RuLnJ1L3JlZi9iaWdfYWFiOTkyNmU2NmQ5ZTAyYzQxZmM5MWI5NTk5MDRiMTIuanBn.jpg">
    </main>
{% endblock content %}