{% extends 'home/base.html' %}

{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
     <div class="features">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{form|crispy}}
            <input name="register" type="submit" value="ВОЙТИ" class="btn btn-primary">
        </form>
    <hr>
   <small> Нет аккаунта?<a href="{% url 'register' %}"> Зарегистрироваться</a></small><br>
    </div>

{% endblock content %}