{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <style>
    ul li {
    color: #ffffff;
    display: block;
    margin-top: 20px;
        font-size: 14px;
    text-decoration: none;
    transition: transform.3s ease;
    position: relative;
    top: 11px;
    left: -5px;
}
    </style>

     <div class="features">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{form|crispy}}
            <input name="register" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="btn btn-primary">
        </form>
    <hr>
 <small> Есть существующий аккаунт?<a href="{% url 'login' %}"> Войти</a></small><br>
    </div>
{% endblock content %}