{% extends 'home/base.html' %}
{% block title %} {{ title }} {% endblock title %}


{% block content %}
    <style>
    .end h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .end h2{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -121px;
        left: 4px;
    }
    main .features h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .features h2{
        position: relative;
        top: -240px;
    }

    main .features p{
        position: relative;
        top: -121px;
        left: 190px;
    }

    main .features img {
    vertical-align: middle;
    position: relative;
    width: 450px;
    top: -335px;
    left: -253px;
}
     .technical p{
        position: relative;
        top: -121px;
        left: -105px;
    }
    .technical h1{
        font-size: 45px;
        position: relative;
        top: -276px;
    }
     .technical img{
         vertical-align: middle;
         position: relative;
         width: 450px;
         top: -397px;
         left: 471px;
     }

    .register h1 {

    text-align: center;
    width: 75%;
    font-size: 40px;
    position: relative;
    top: -123px;
    left: 222px;
    color: white;


}

    .register p {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -117px;
    left: 384px;
    color: white;
}

     .register h2 {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 384px;
    color: white;
}



    .register img {
    vertical-align: middle;
    position: relative;
    width: 400px;
    top: -301px;
    left: -153px;


}

.end p{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -211px;
        left: 141px;
    }

.end img{
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 800px;
    top: -160px;
    left: 120px;

}
main .end a {
    color: white;
            font-size: 15px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -130px;
            left: 750px;
}

    .btn a{
        color: white;
        position: relative;
        left: 450px;
        top: -100px

    }

    </style>
    <div class="left">
    {% if user.is_authenticated %}
        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'register_on_to' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="{%url 'register_on_test_drive' %}"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>


        </ul>

                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>
        </div>
        <div class="features">
        <h1>Geely Atlas Pro</h1>
        <br><h2>Обновленный кроссовер Geely atlas, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Передовыми технологиями безопасности</p>
            <p>| Превосходным ходовыми качествами! </p>
        <img src="https://www.m.njcar.ru/upload/iblock/895/290220_30.jpg">
            </div>
        <div class="technical">
        <h1>Технические характеристики джили атлас Pro :</h1>
            <p>ДВС: Бензиновый, 1.5T.
            <br>КПП: Автоматическая (7DCT)
            <br>Привод: Передний
            <br>Расход: 10 смешанный / 12.3 город <br> 6.3 трасса
            <br>Разгон до 100: 10 сек</p>
        <img src="https://s.auto.drom.ru/i24265/c/photos/generations/500x_geely_atlas_pro_g14890.jpg?1052070">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>В салоне изменения еще более радикальные, поскольку интерьер этого Атласа выполнен в стиле нового
                купеообразного кроссовера Xingyue, представленного в марте 2019 года.
                У рестайлингового Boyue Pro/Atlas новая электронная приборная панель, скошенное в нижней части кузова
                рулевое колесо, также изменен дизайн перчаточного ящика, центральной консоли и тоннеля.
                Новая мультимедийная система получила большой экран и стильный ряд клавиш для управления; вместе с новым
                селектором коробки на тоннеле также полностью сменилась архитектура кнопок и появилась шайба,
                отвечающая за выбор режимов движения. Особую роскошь салону придает обивка из кожи наппа,
                качественную кожаную обшивку имеет и рулевое колесо, изменилась декоративная подсветка салона.</p>
            <p>Обновленному кроссоверу достался 1,5-литровый турбомотор от Volvo XC40.
                Речь идет о 3-цилиндровом агрегате, благодаря наличию турбонаддува развивающем
                мощность в 177 л.с. (130 кВт, при 5500 об/мин) и крутящий момент 255
                (в диапазоне 1500-4000 об/мин). Предусмотрены модификации с передним и полным приводом.
                В зависимости от версии двигатель будет работать с 6-ступенчатой механикой, 6-ступенчатым «автоматом»
                или 7-ступенчатым «роботом» собственного производства с двойным многодисковым сцеплением,
                работающим в масляной ванне. Отмечается, что двигатель адаптирован под бензин с октановым числом
                не менее 92. Новый Boyue/Atlas Pro производится и с уже знакомым по дорестайлинговой версии
                1,8-литровым бензиновым двигателем с турбонаддувом и прямым впрыском топлива (184 л.с.),
                однако теперь ему предстоит работать не с 6-скоростным «автоматом», а с 7-скоростным «роботом»
                с двумя сцеплениями. В Geely говорят, что трансмиссия 7DCT позволит сократить расход топлива почти
                на целый литр на 100 км по сравнению с оригинальной версией кроссовера с 6AT.</p>
            <p>Способна машина удивлять и в процессе движения, когда незначительные препятствия на пути вроде
                «лежачих полицейских» вообще незаметны, а на остальных отсутствуют крен и «клевки».
                Внутри салона создана максимально комфортная атмосфера, которую не испортит шум от движения, отсекаемый
                отличной звукоизоляцией.</p>
            <p>Учтены в автомобиле и все эксплуатационные требования с оптимизацией расходов на сервисное обслуживание
                и последующий ремонт благодаря качественной сборке и покраске. Как уже отмечалось выше, немаловажна и
                ценовая составляющая, которая выводит Geely Atlas далеко в лидеры
                в глазах отечественного потребителя.</p>
            <p>Geely Atlas считается одним из самых популярных китайских автомобилей на российском рынке.
                Для нужд России и других стран ЕАЭС (Беларусь, Казахстан, Армения, Киргизия)
                прежний Atlas по полному сборочному циклу (со сваркой и окраской кузовов)
                производят на заводе «БелДжи» в Борисове (Беларусь). Местом сборки новой версии в ОТТС отмечен завод
                в китайском Нинбо. С учетом всех улучшений при грамотной ценовой политике автомобиль может стать
                одним из самых интересных в классе. Главными конкурентами кроссовера называются
                Chery Tiggo 7, Haval H6 и, конечно, такие хиты рынка, как Hyundai Creta и Renault Kaptur. </p>
            <img src="https://motor.ru/imgs/2021/04/26/08/4634340/f19a765d1901323ecd1b639d72c820d504fdb8d8.jpg">
            <a href="{% url 'register_on_test_drive' %}"> Тест-драйв</a>
            <a href="{% url 'catalog' %}">назад</a>

        </div>
    </div>



    {% else %}
      <ul>
        <a href={% url 'register' %}><li><i class="fas fa-save"></i>Регистрация</li></a>
        <a href={% url 'login' %}><li><i class="fas fa-outdent"></i>Войти</li></a>
      </ul>
    <div class='register'>
        <h1>Geely Atlas Pro</h1>
        <br><h2>Обновленный кроссовер Geely atlas, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Передовыми технологиями безопасности</p>
            <p>| Превосходным ходовыми качествами! </p>
        <img src="https://www.m.njcar.ru/upload/iblock/895/290220_30.jpg">
            </div>
        <div class="technical">
       <h1>Технические характеристики джили атлас Pro :</h1>
            <p>ДВС: Бензиновый, 1.5T.
            <br>КПП: Автоматическая (7DCT)
            <br>Привод: Передний
            <br>Расход: 10 смешанный / 12.3 город <br> 6.3 трасса
            <br>Разгон до 100: 10 сек</p>
        <img src="https://s.auto.drom.ru/i24265/c/photos/generations/500x_geely_atlas_pro_g14890.jpg?1052070">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>В салоне изменения еще более радикальные, поскольку интерьер этого Атласа выполнен в стиле нового
                купеообразного кроссовера Xingyue, представленного в марте 2019 года.
                У рестайлингового Boyue Pro/Atlas новая электронная приборная панель, скошенное в нижней части кузова
                рулевое колесо, также изменен дизайн перчаточного ящика, центральной консоли и тоннеля.
                Новая мультимедийная система получила большой экран и стильный ряд клавиш для управления; вместе с новым
                селектором коробки на тоннеле также полностью сменилась архитектура кнопок и появилась шайба,
                отвечающая за выбор режимов движения. Особую роскошь салону придает обивка из кожи наппа,
                качественную кожаную обшивку имеет и рулевое колесо, изменилась декоративная подсветка салона.</p>
            <p>Обновленному кроссоверу достался 1,5-литровый турбомотор от Volvo XC40.
                Речь идет о 3-цилиндровом агрегате, благодаря наличию турбонаддува развивающем
                мощность в 177 л.с. (130 кВт, при 5500 об/мин) и крутящий момент 255
                (в диапазоне 1500-4000 об/мин). Предусмотрены модификации с передним и полным приводом.
                В зависимости от версии двигатель будет работать с 6-ступенчатой механикой, 6-ступенчатым «автоматом»
                или 7-ступенчатым «роботом» собственного производства с двойным многодисковым сцеплением,
                работающим в масляной ванне. Отмечается, что двигатель адаптирован под бензин с октановым числом
                не менее 92. Новый Boyue/Atlas Pro производится и с уже знакомым по дорестайлинговой версии
                1,8-литровым бензиновым двигателем с турбонаддувом и прямым впрыском топлива (184 л.с.),
                однако теперь ему предстоит работать не с 6-скоростным «автоматом», а с 7-скоростным «роботом»
                с двумя сцеплениями. В Geely говорят, что трансмиссия 7DCT позволит сократить расход топлива почти
                на целый литр на 100 км по сравнению с оригинальной версией кроссовера с 6AT.</p>
            <p>Способна машина удивлять и в процессе движения, когда незначительные препятствия на пути вроде
                «лежачих полицейских» вообще незаметны, а на остальных отсутствуют крен и «клевки».
                Внутри салона создана максимально комфортная атмосфера, которую не испортит шум от движения, отсекаемый
                отличной звукоизоляцией.</p>
            <p>Учтены в автомобиле и все эксплуатационные требования с оптимизацией расходов на сервисное обслуживание
                и последующий ремонт благодаря качественной сборке и покраске. Как уже отмечалось выше, немаловажна и
                ценовая составляющая, которая выводит Geely Atlas далеко в лидеры
                в глазах отечественного потребителя.</p>
            <p>Geely Atlas считается одним из самых популярных китайских автомобилей на российском рынке.
                Для нужд России и других стран ЕАЭС (Беларусь, Казахстан, Армения, Киргизия)
                прежний Atlas по полному сборочному циклу (со сваркой и окраской кузовов)
                производят на заводе «БелДжи» в Борисове (Беларусь). Местом сборки новой версии в ОТТС отмечен завод
                в китайском Нинбо. С учетом всех улучшений при грамотной ценовой политике автомобиль может стать
                одним из самых интересных в классе. Главными конкурентами кроссовера называются
                Chery Tiggo 7, Haval H6 и, конечно, такие хиты рынка, как Hyundai Creta и Renault Kaptur. </p>
            <img src="https://motor.ru/imgs/2021/04/26/08/4634340/f19a765d1901323ecd1b639d72c820d504fdb8d8.jpg">
        </div>
            <div class="btn">
            <a href="{% url 'catalog' %}">назад</a>
            </div>


        </div>
    </div>
    {% endif %}
{% endblock content %}