{% extends 'home/base.html' %}
{% block title %} {{ title }} {% endblock title %}


{% block content %}
    <style>
    .end h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .end h2{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -121px;
        left: 4px;
    }
    main .features h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .features h2{
        position: relative;
        top: -240px;
    }

    main .features p{
        position: relative;
        top: -121px;
        left: 180px;
    }

    main .features img {
    vertical-align: middle;
    position: relative;
    width: 450px;
    top: -335px;
    left: -253px;
}
     .technical p{
        position: relative;
        top: -121px;
        left: -105px;
    }
    .technical h1{
        font-size: 45px;
        position: relative;
        top: -276px;
    }
     .technical img{
         vertical-align: middle;
         position: relative;
         width: 450px;
         top: -397px;
         left: 471px;
     }

    .register h1 {

    text-align: center;
    width: 75%;
    font-size: 40px;
    position: relative;
    top: -123px;
    left: 222px;
    color: white;


}

    .register p {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -117px;
    left: 384px;
    color: white;
}

     .register h2 {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 384px;
    color: white;
}



    .register img {
    vertical-align: middle;
    position: relative;
    width: 400px;
    top: -320px;
    left: -153px;


}

.end p{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -211px;
        left: 141px;
    }

.end img{
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 800px;
    top: -100px;
    left: 120px;

}
main .end a {
    color: white;
            font-size: 15px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -250px;
            left: 750px;
}

    .btn a{
        color: white;
        position: relative;
        left: 450px;
        top: -100px

    }

    </style>
    <div class="left">
    {% if user.is_authenticated %}
        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'register_on_to' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="{%url 'register_on_test_drive' %}"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>


        </ul>

                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>
        </div>
        <div class="features">
         <h1>Geely Emgrand</h1>
        <br><h2>Легковой автомобиль марки джили <br>который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Низкая цена</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Превосходный дизайн</p>
        <img src="https://wroom.ru/i/cars2/geely_emgrand_1.jpg">
            </div>
        <div class="technical">
        <h1>Технические характеристики Geely Emgrand :</h1>
            <p>ДВС: Бензиновый, 1.5 100 л.с
            <br>КПП: Механическая
            <br>Привод: Передний
            <br>Расход: 6.5 смешанный /9.9 город <br> 5.3 трасса
            <br>Разгон до 100: 13.5 сек</p>
        <img src="https://geely.by/assets/components/phpthumbof/cache/emgrand7-0.7c666390b59b6236ccd8621a61adc8f276.jpg">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Geely Emgrand EC7 дебютировал на родном рынке еще в 2014 году, однако до отечественных дилеров
                автомобиль добрался лишь в 2016. Отличить новинку от предшественника не сложно.
                У нее стильные вытянутые фары головного освещения с линзованной оптикой и светодиодными
                секциями дневных ходовых огней. Стоит отметить обновленную решетку радиатора с
                изящными горизонтально ориентированными ребрами и измененным логотипом производителя.
                Внизу, по краям бампера находятся небольшие углубления, прикрытые черным пластиком,
                в них располагаются небольшие вытянутые светодиодные противотуманные фары.
                В общем и целом, рестайлинг пошел модели на пользу,
                благодаря переработанному передку она стала выглядеть динамично и современно. </p>
            <p>Geely Emgrand EC7- седан D класса, его габаритные размеры составляют: длина
                4631 мм, ширина 1789 мм, высота 1470 мм, колесная база 2650 мм,
                а величина дорожного просвета равняется 167 миллиметрам.
                Это неплохой показатель, высокий клиренс позволит седану с перемещаться
                в плохих дорожных условиях, а также с легкостью штурмовать бордюры средней величины.
                Багажник Geely Emgrand EC7 поистине колоссальный,
                он предоставляет вам вплоть до 680 литров свободного пространства.
                Этого с головой хватит как для повседневной жизни в черте города,
                так и для поездок на дачу со всей семьей на борту и обилием багажа</p>
            <p>Geely Emgrand EC7 идет в ногу со временем, у него интересный дизайн,
                который будет отлично смотреться на оживленных улицах мегаполиса.
                Салон- это царство комфорта и выверенной эргономики.
                Даже длительная поездка не доставит вам лишних неудобств.
                Внутри вы найдете все необходимые устройства и системы, не
                дающие заскучать за рулем и сильно облегчающие эксплуатацию автомобиля.
                Производитель прекрасно понимает, что автомобиль- это не
                высокотехнологичная игрушка и в первую очередь он должен доставлять удовольствие от поездки. </p>
            <p>Именно поэтому, под капотом седана находится современный и экономичный двигатель,
                являющийся сплавом инновационных технологий и многолетнего опыта в области двигателестроения.
                Geely Emgrand EC7 предлагает богатую техническую начинку по сходной цене и подарит вам
                незабываемые ощущения от поездки.</p>
            <img src="https://autospot.by/assets/images/2018/emgrx7IMG_8838.jpg">
            <a href="{% url 'register_on_test_drive' %}"> Тест-драйв</a>
            <a href="{% url 'catalog' %}">назад</a>

        </div>
    </div>



    {% else %}
      <ul>
        <a href={% url 'register' %}><li><i class="fas fa-save"></i>Регистрация</li></a>
        <a href={% url 'login' %}><li><i class="fas fa-outdent"></i>Войти</li></a>
      </ul>
    <div class='register'>
        <h1>Geely Emgrand</h1>
        <br><h2>Легковой автомобиль марки джили <br>который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Низкая цена</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Превосходный дизайн</p>
        <img src="https://wroom.ru/i/cars2/geely_emgrand_1.jpg">
            </div>
        <div class="technical">
       <h1>Технические характеристики Geely Emgrand :</h1>
            <p>ДВС: Бензиновый, 1.5 100 л.с
            <br>КПП: Механическая
            <br>Привод: Передний
            <br>Расход: 6.5 смешанный /9.9 город <br> 5.3 трасса
            <br>Разгон до 100: 13.5 сек</p>
        <img src="https://geely.by/assets/components/phpthumbof/cache/emgrand7-0.7c666390b59b6236ccd8621a61adc8f276.jpg">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Geely Emgrand EC7 дебютировал на родном рынке еще в 2014 году, однако до отечественных дилеров
                автомобиль добрался лишь в 2016. Отличить новинку от предшественника не сложно.
                У нее стильные вытянутые фары головного освещения с линзованной оптикой и светодиодными
                секциями дневных ходовых огней. Стоит отметить обновленную решетку радиатора с
                изящными горизонтально ориентированными ребрами и измененным логотипом производителя.
                Внизу, по краям бампера находятся небольшие углубления, прикрытые черным пластиком,
                в них располагаются небольшие вытянутые светодиодные противотуманные фары.
                В общем и целом, рестайлинг пошел модели на пользу,
                благодаря переработанному передку она стала выглядеть динамично и современно. </p>
            <p>Geely Emgrand EC7- седан D класса, его габаритные размеры составляют: длина
                4631 мм, ширина 1789 мм, высота 1470 мм, колесная база 2650 мм,
                а величина дорожного просвета равняется 167 миллиметрам.
                Это неплохой показатель, высокий клиренс позволит седану с перемещаться
                в плохих дорожных условиях, а также с легкостью штурмовать бордюры средней величины.
                Багажник Geely Emgrand EC7 поистине колоссальный,
                он предоставляет вам вплоть до 680 литров свободного пространства.
                Этого с головой хватит как для повседневной жизни в черте города,
                так и для поездок на дачу со всей семьей на борту и обилием багажа</p>
            <p>Geely Emgrand EC7 идет в ногу со временем, у него интересный дизайн,
                который будет отлично смотреться на оживленных улицах мегаполиса.
                Салон- это царство комфорта и выверенной эргономики.
                Даже длительная поездка не доставит вам лишних неудобств.
                Внутри вы найдете все необходимые устройства и системы, не
                дающие заскучать за рулем и сильно облегчающие эксплуатацию автомобиля.
                Производитель прекрасно понимает, что автомобиль- это не
                высокотехнологичная игрушка и в первую очередь он должен доставлять удовольствие от поездки. </p>
            <p>Именно поэтому, под капотом седана находится современный и экономичный двигатель,
                являющийся сплавом инновационных технологий и многолетнего опыта в области двигателестроения.
                Geely Emgrand EC7 предлагает богатую техническую начинку по сходной цене и подарит вам
                незабываемые ощущения от поездки.</p>
            <img src="https://autospot.by/assets/images/2018/emgrx7IMG_8838.jpg">
        </div>
            <div class="btn">
            <a href="{% url 'catalog' %}">назад</a>
            </div>


        </div>
    </div>
    {% endif %}

{% endblock content %}