{% extends 'home/base.html' %}
{% block title %} {{ title }} {% endblock title %}


{% block content %}
    <style>
    .end h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .end h2{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -121px;
        left: 4px;
    }
    main .features h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .features h2{
        position: relative;
        top: -240px;
    }

    main .features p{
        position: relative;
        top: -121px;
        left: 180px;
    }

    main .features img {
    vertical-align: middle;
    position: relative;
    width: 450px;
    top: -335px;
    left: -253px;
}
     .technical p{
        position: relative;
        top: -121px;
        left: -105px;
    }
    .technical h1{
        font-size: 45px;
        position: relative;
        top: -276px;
    }
     .technical img{
         vertical-align: middle;
         position: relative;
         width: 450px;
         top: -397px;
         left: 471px;
     }

    .register h1 {

    text-align: center;
    width: 75%;
    font-size: 40px;
    position: relative;
    top: -123px;
    left: 222px;
    color: white;


}

    .register p {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -117px;
    left: 384px;
    color: white;
}

     .register h2 {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 384px;
    color: white;
}



    .register img {
    vertical-align: middle;
    position: relative;
    width: 400px;
    top: -301px;
    left: -153px;


}

.end p{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -211px;
        left: 141px;
    }

.end img{
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 800px;
    top: -100px;
    left: 120px;

}
main .end a {
    color: white;
            font-size: 15px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -130px;
            left: 750px;
}

    .btn a{
        color: white;
        position: relative;
        left: 450px;
        top: -100px

    }

    </style>
    <div class="left">
    {% if user.is_authenticated %}
        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'register_on_to' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="{%url 'register_on_test_drive' %}"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>


        </ul>

                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>
        </div>
        <div class="features">
        <h1>Geely GS</h1>
        <br><h2>Уникальный кроссовер, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Современный молодежный вид</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Своей компактностью</p>
        <img src="https://image-server.autospot.ru/images/1/1/3/13/1/6/1602777/resize/635x476/1602777.png">
            </div>
        <div class="technical">
        <h1>Технические характеристики Geely GS :</h1>
            <p>ДВС: Бензиновый, 1.8 133  л.с
            <br>КПП: Автоматическая
            <br>Привод: Передний
            <br>Расход: 6.9 смешанный / 10 город <br> 6 трасса
            <br>Разгон до 100: 10.3 сек</p>
        <img src="https://images.drive.ru/i/0/5d6fa4f8ec05c4f521000028">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Автомобиль получил один единственный и самый простой в линейке силовой агрегат,
                два варианта трансмиссии, уникальную платформу, а также довольно богатый список оснащения.
                Автомобиль будет представлен в двух комплектациях: Comfort и Luxury.
                По умолчанию, он оборудуется двумя передними подушками безопасности,
                системой стабилизации климатической установкой, подогревами всех сидений,
                парковочным радаром, системой бесключевого доступа, магнитолой и литыми 17-дюймовыми колесами.
                За дополнительную плату, можно получить панорамную крышу, шесть подушек безопасности,
                развлекательную систему с сенсорным экраном, камеру заднего вида, а также отделку из
                искусственной кожи. Что касается экстерьера, то автомобиль выполнен в фирменном стиле с
                классическими кроссоверными акцентами. Он получил защитный обвес из черного
                неокрашенного пластика на бамперах, порогах и колесных арках.
                Также можно заметить парочку крупных патрубков выхлопной системы сзади и приподнятую посадку.</p>
            <p>На отечественном рынке Geely Emgrand GS будет оснащаться всего одним силовым агрегатом.
                Это рядная бензиновая атмосферная четверка с шестнадцатью клапанами и двумя распределительными валами.
                Благодаря такой конструкции, инженерам удалось получить 133 лошадиные силы при 6000 об/мин и 170
                Нм крутящего момента при 4400 оборотах коленчатого вала в минуту.
                По умолчанию, он стыкуется с шестиступенчатой механической коробкой передач.
                За дополнительную плату можно заказать шестиступенчатый преселективный робот
                Getrag с двумя сцеплениями. Привод исключительно передний.
                В итоге, автомобиль способен набрать до 180-185, в зависимости от
                типа коробки передач. Разгон с места до сотни занимается 10,3 секунды.
                Расход топлива, в среднем, составит 6,9 литра бензина на каждые 100 км пути
                в смешанном цикле движения.</p>
            <p>Салон модели просторен — внутри с комфортом может расположиться даже рослый пассажир.
                Сделано все тоже вполне неплохо. Пластик по максимуму обшит искусственной кожей,
                приятного цвета вставки в обивку. Традиционное для китайских машин обилие хрома.
                Медиасистема с интуитивно понятным управлением расположена удобно и не отвлекает от дороги.
                Яркие приборы с голубой подсветкой также производят положительное впечатление.
                А счастливых обладателей Джили GS в комплектации Luxury призвана порадовать панорамная</p>
            <p>В целом, Geely GS — неплохой автомобиль, имеющий стильный дизайн и богатую комплектацию.
                Достаточно простая и надежная конструкция платформы позволит не задумываться в
                будущем о лишних тратах на ТО и ремонт. Если бы не высокая для «китайца» цена и
                отсутствие выбора силовых агрегатов, то модель вполне могла бы занять достойное
                место среди конкурентов.</p>
            <img src="https://www.allcarz.ru/wp-content/uploads/2019/06/foto-emgrand-gs_05.jpg">
            <a href="{% url 'register_on_test_drive' %}"> Тест-драйв</a>
            <a href="{% url 'catalog' %}">назад</a>

        </div>
    </div>



    {% else %}
      <ul>
        <a href={% url 'register' %}><li><i class="fas fa-save"></i>Регистрация</li></a>
        <a href={% url 'login' %}><li><i class="fas fa-outdent"></i>Войти</li></a>
      </ul>
    <div class='register'>
        <h1>Geely Coolray</h1>
        <h1>Geely GS</h1>
        <br><h2>Уникальный кроссовер, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Современный молодежный вид</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Своей компактностью</p>
        <img src="https://image-server.autospot.ru/images/1/1/3/13/1/6/1602777/resize/635x476/1602777.png">
            </div>
        <div class="technical">
       <h1>Технические характеристики Geely GS :</h1>
            <p>ДВС: Бензиновый, 1.8 133  л.с
            <br>КПП: Автоматическая
            <br>Привод: Передний
            <br>Расход: 6.9 смешанный / 10 город <br> 6 трасса
            <br>Разгон до 100: 10.3 сек</p>
        <img src="https://images.drive.ru/i/0/5d6fa4f8ec05c4f521000028">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Автомобиль получил один единственный и самый простой в линейке силовой агрегат,
                два варианта трансмиссии, уникальную платформу, а также довольно богатый список оснащения.
                Автомобиль будет представлен в двух комплектациях: Comfort и Luxury.
                По умолчанию, он оборудуется двумя передними подушками безопасности,
                системой стабилизации климатической установкой, подогревами всех сидений,
                парковочным радаром, системой бесключевого доступа, магнитолой и литыми 17-дюймовыми колесами.
                За дополнительную плату, можно получить панорамную крышу, шесть подушек безопасности,
                развлекательную систему с сенсорным экраном, камеру заднего вида, а также отделку из
                искусственной кожи. Что касается экстерьера, то автомобиль выполнен в фирменном стиле с
                классическими кроссоверными акцентами. Он получил защитный обвес из черного
                неокрашенного пластика на бамперах, порогах и колесных арках.
                Также можно заметить парочку крупных патрубков выхлопной системы сзади и приподнятую посадку.</p>
            <p>На отечественном рынке Geely Emgrand GS будет оснащаться всего одним силовым агрегатом.
                Это рядная бензиновая атмосферная четверка с шестнадцатью клапанами и двумя распределительными валами.
                Благодаря такой конструкции, инженерам удалось получить 133 лошадиные силы при 6000 об/мин и 170
                Нм крутящего момента при 4400 оборотах коленчатого вала в минуту.
                По умолчанию, он стыкуется с шестиступенчатой механической коробкой передач.
                За дополнительную плату можно заказать шестиступенчатый преселективный робот
                Getrag с двумя сцеплениями. Привод исключительно передний.
                В итоге, автомобиль способен набрать до 180-185, в зависимости от
                типа коробки передач. Разгон с места до сотни занимается 10,3 секунды.
                Расход топлива, в среднем, составит 6,9 литра бензина на каждые 100 км пути
                в смешанном цикле движения.</p>
            <p>Салон модели просторен — внутри с комфортом может расположиться даже рослый пассажир.
                Сделано все тоже вполне неплохо. Пластик по максимуму обшит искусственной кожей,
                приятного цвета вставки в обивку. Традиционное для китайских машин обилие хрома.
                Медиасистема с интуитивно понятным управлением расположена удобно и не отвлекает от дороги.
                Яркие приборы с голубой подсветкой также производят положительное впечатление.
                А счастливых обладателей Джили GS в комплектации Luxury призвана порадовать панорамная</p>
            <p>В целом, Geely GS — неплохой автомобиль, имеющий стильный дизайн и богатую комплектацию.
                Достаточно простая и надежная конструкция платформы позволит не задумываться в
                будущем о лишних тратах на ТО и ремонт. Если бы не высокая для «китайца» цена и
                отсутствие выбора силовых агрегатов, то модель вполне могла бы занять достойное
                место среди конкурентов.</p>
            <img src="https://www.allcarz.ru/wp-content/uploads/2019/06/foto-emgrand-gs_05.jpg">
        </div>
            <div class="btn">
            <a href="{% url 'catalog' %}">назад</a>
            </div>


        </div>
    </div>
    {% endif %}

{% endblock content %}