{% extends 'home/base.html' %}
{% block title %} {{ title }} {% endblock title %}


{% block content %}
    <style>
    .end h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .end h2{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -121px;
        left: 4px;
    }
    main .features h1 {
    font-size: 50px;
    position: relative;
    top: -250px;
}

    .features h2{
        position: relative;
        top: -240px;
    }

    main .features p{
        position: relative;
        top: -121px;
        left: 180px;
    }

    main .features img {
    vertical-align: middle;
    position: relative;
    width: 450px;
    top: -335px;
    left: -253px;
}
     .technical p{
        position: relative;
        top: -121px;
        left: -105px;
    }
    .technical h1{
        font-size: 45px;
        position: relative;
        top: -276px;
    }
     .technical img{
         vertical-align: middle;
         position: relative;
         width: 450px;
         top: -397px;
         left: 471px;
     }

    .register h1 {

    text-align: center;
    width: 75%;
    font-size: 40px;
    position: relative;
    top: -123px;
    left: 222px;
    color: white;


}

    .register p {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -117px;
    left: 384px;
    color: white;
}

     .register h2 {
        text-align: center;
    width: 75%;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 384px;
    color: white;
}



    .register img {
    vertical-align: middle;
    position: relative;
    width: 400px;
    top: -320px;
    left: -153px;


}

.end p{
        color: white;
        font-size: 16px;
        margin-block: 20px;
        position: relative;
        top: -211px;
        left: 141px;
    }

.end img{
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 800px;
    top: -100px;
    left: 120px;

}
main .end a {
    color: white;
            font-size: 15px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -350px;
            left: 750px;
}

    .btn a{
        color: white;
        position: relative;
        left: 450px;
        top: -100px

    }

    </style>
    <div class="left">
    {% if user.is_authenticated %}
        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'register_on_to' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="{%url 'register_on_test_drive' %}"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>


        </ul>

                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>
        </div>
        <div class="features">
         <h1>Geely Tugella</h1>
        <br><h2>Уникальный кроссовер, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Современный молодежный вид</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Превосходный дизайн</p>
        <img src="https://geely-s.by/wp-content/uploads/2021/10/4f2c94e5476b369fb0802354894727a271ceb5ef.jpg">
            </div>
        <div class="technical">
        <h1>Технические характеристики Geely Tugella :</h1>
            <p>ДВС: Бензиновый, 2.0 238 л.с
            <br>КПП: Автоматическая
            <br>Привод: Передний
            <br>Расход: 8.1 смешанный /11.9 город <br> 6.3 трасса
            <br>Разгон до 100: 6.9 сек</p>
        <img src="https://a.d-cd.net/N4uupVr-fNykFogn3VKof8GlnFY-960.jpg">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Встречайте, новый Geely Tugella, представитель модного сейчас направления кросс-купе.
                Автомобиль если и похож на другие соратников в классе, то только формой кузова,
                в остальном же это вполне самодостаточный автомобиль с собственным лицом.
                Да, если мы говорим о лице, то стоит отметить, что у китайского автопроизводителя
                Geely оно точно сформировалось свое, спереди Tugella похожа на тот же Coolray.
                Подчеркивает индивидуальность автомобилей бренда фирменная узкая решетка радиатора
                в форме логотипа компании, хотя в кросс-купе она и чуть изменилась, но все равно
                остается узнаваемой. </p>
            <p>Автомобиль со стильным, немного агрессивным дизайном и
                мощными моторами ориентирован, прежде всего, на молодых водителей.
                Он обладает отличными ходовыми качествами и позволяет почувствовать
                настоящее удовольствие от вождения. При этом водитель и пассажиры в нём
                ощущают истинный комфорт и безопасность, благодаря работе современной электроники.</p>
            <p>Салон модели просторен — внутри с комфортом может расположиться даже рослый пассажир.
                Сделано все тоже вполне неплохо. Пластик по максимуму обшит искусственной кожей,
                приятного цвета вставки в обивку. Традиционное для китайских машин обилие хрома.
                Медиасистема с интуитивно понятным управлением расположена удобно и не отвлекает от дороги.
                Яркие приборы с голубой подсветкой также производят положительное впечатление.
                А счастливых обладателей Джили Tugella в комплектации Luxury призвана порадовать панорамная</p>
            <p>Несмотря на наличие полноприводных версий, такую машину, скорее всего,
                мало кто будет использовать для поездок по бездорожью, хотя она бы
                отлично справилась с этим. Вероятнее всего, её ждёт городское будущее,
                как и большинство нынешних кроссоверов. Но также авто отлично подходит
                для поездок по трассе, в том числе, и для дальних путешествий.</p>
            <img src="https://www.zr.ru/d/story/ac/924588/003.jpg">
            <a href="{% url 'register_on_test_drive' %}"> Тест-драйв</a>
            <a href="{% url 'catalog' %}">назад</a>

        </div>
    </div>



    {% else %}
      <ul>
        <a href={% url 'register' %}><li><i class="fas fa-save"></i>Регистрация</li></a>
        <a href={% url 'login' %}><li><i class="fas fa-outdent"></i>Войти</li></a>
      </ul>
    <div class='register'>
        <h1>Geely Tugella</h1>
        <br><h2>Уникальный кроссовер, который обеспечивает своих владельцев:</h2>
            <p>| Высокой степенью комфорта</p>
            <p>| Современный молодежный вид</p>
            <p>| Превосходным ходовыми качествами! </p>
            <p>| Превосходный дизайн</p>
        <img src="https://geely-s.by/wp-content/uploads/2021/10/4f2c94e5476b369fb0802354894727a271ceb5ef.jpg">
            </div>
        <div class="technical">
       <h1>Технические характеристики Geely Tugella :</h1>
            <p>ДВС: Бензиновый, 2.0 238 л.с
            <br>КПП: Автоматическая
            <br>Привод: Передний
            <br>Расход: 8.1 смешанный /11.9 город <br> 6.3 трасса
            <br>Разгон до 100: 6.9 сек</p>
        <img src="https://a.d-cd.net/N4uupVr-fNykFogn3VKof8GlnFY-960.jpg">
        </div>
        <div class="end">
            <h1>Заключение</h1>
            <p>Встречайте, новый Geely Tugella, представитель модного сейчас направления кросс-купе.
                Автомобиль если и похож на другие соратников в классе, то только формой кузова,
                в остальном же это вполне самодостаточный автомобиль с собственным лицом.
                Да, если мы говорим о лице, то стоит отметить, что у китайского автопроизводителя
                Geely оно точно сформировалось свое, спереди Tugella похожа на тот же Coolray.
                Подчеркивает индивидуальность автомобилей бренда фирменная узкая решетка радиатора
                в форме логотипа компании, хотя в кросс-купе она и чуть изменилась, но все равно
                остается узнаваемой. </p>
            <p>Автомобиль со стильным, немного агрессивным дизайном и
                мощными моторами ориентирован, прежде всего, на молодых водителей.
                Он обладает отличными ходовыми качествами и позволяет почувствовать
                настоящее удовольствие от вождения. При этом водитель и пассажиры в нём
                ощущают истинный комфорт и безопасность, благодаря работе современной электроники.</p>
            <p>Салон модели просторен — внутри с комфортом может расположиться даже рослый пассажир.
                Сделано все тоже вполне неплохо. Пластик по максимуму обшит искусственной кожей,
                приятного цвета вставки в обивку. Традиционное для китайских машин обилие хрома.
                Медиасистема с интуитивно понятным управлением расположена удобно и не отвлекает от дороги.
                Яркие приборы с голубой подсветкой также производят положительное впечатление.
                А счастливых обладателей Джили Tugella в комплектации Luxury призвана порадовать панорамная</p>
            <p>Несмотря на наличие полноприводных версий, такую машину, скорее всего,
                мало кто будет использовать для поездок по бездорожью, хотя она бы
                отлично справилась с этим. Вероятнее всего, её ждёт городское будущее,
                как и большинство нынешних кроссоверов. Но также авто отлично подходит
                для поездок по трассе, в том числе, и для дальних путешествий.</p>
            <img src="https://www.zr.ru/d/story/ac/924588/003.jpg">
        </div>
            <div class="btn">
            <a href="{% url 'catalog' %}">назад</a>
            </div>


        </div>
    </div>
    {% endif %}

{% endblock content %}