{% extends 'home/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <style type="text/css">
    .card-text img{
        width: 1000px;
        position: relative;
        left: 60px;
        top: -100px;
    }

    .card-text h1 {
    text-align: center;
    width: 75%;
    font-size: 40px;
    position: relative;
    top: -220px;
    left: 122px;
    color: white;
}
    .card-text h5 {
    text-align: center;
    width: 75%;
    font-size: 20px;
    position: relative;
    top: -220px;
    left: 122px;
    color: white;
}
    </style>

    {% if user.is_authenticated %}

        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'index' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="{%url 'register_on_test_drive' %}"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>


        </ul>

                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>
    {% endif %}
    <div class="card-text">
           <h1>{{ text }}</h1>
            <h5>{{ one_more_text }}</h5>
    <img src="https://geely.by/Mayakovskogo2_G.Banner.jpg">
    </div>


{% endblock %}