{% extends 'home/base.html' %}

{% block content %}
    <style type="text/css">

        .alert-warning{
            float: left;
            clear: both;
            width: 600px;
            margin: 40px 34%;
            text-align: left;
            position: relative;
            top: -200px;
            left: -130px;
        }

        main .features h3{
            font-size: 20px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -89px;
            left: 70px;
        }
        main .features p{
            color: black;
            font-size: 10px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: 10px;
            left: 197px;

        }

      .alert-info{
          float: left;
          clear: both;
          width: 800px;
          margin: 40px 34%;
          text-align: left;
          position: relative;
          top: -2868px;
          left: 30px;
        }

      main .register h1{
          font-size: 30px;
          position: relative;
          left: 232px;

      }

        main .register h3{
            font-size: 20px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: -72px;
            left: 80px;
        }

        main .register p{
            color: black;
            font-size: 10px;
            text-align: left;
            clear: both;
            float: left;
            position: relative;
            top: 10px;
            left: 250px;

        }
      </style>

  {% if user.is_authenticated %}

        <h4>Имя пользователя:</h4>
        <ul>
            <a href={%url 'index' %}><li><i class="fas fa-key"></i>Запись на ТО</li></a>
            <a href="#"><li><i class="fas fa-calendar"></i>Запись на тест-драйв</li></a>
            <a href={% url 'logout' %}><li><i class="fas fa-outdent"></i>Выйти</li></a>
        </ul>
                <li>
                    <a class="nav-link" href="{% url 'register' %}"><i class="far fa-user-circle">{{user.username}}</i></a>
                </li>


      <div class="features">
        <h1>Новости из мира джили</h1>

        {% for el in news %}
            <div class="alert alert-warning">
            <h3>{{ el.title }}</h3>
                {{ el.full_text }}
                <p>{{ el.data }}</p>
            </div>
            {% endfor %}
      </div>




    {% else %}
    <div class="register">
        <h1>Новости из мира джили</h1>

        {% for el in news %}
            <div class="alert alert-info">
            <h3>{{ el.title }}</h3>
                {{ el.full_text }}
                <p>{{ el.data }}</p>
            </div>
            {% endfor %}
    </div>

    {% endif %}
{% endblock content %}